/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

.button {
  display: flex;
  height: 100px;
  width: 100%;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: $title-font;
  font-size: 50px;
  text-decoration: none;
  color: $accent;
  background-color: $primary;
  border: 0;
  padding-top: 7px;
  cursor: pointer;
  
  &:hover, &:focus {
    background-color: $primary;
    color: darken($accent, 10%);
    text-decoration: none;
    outline: none;
  }

  &:active {
    background-color: $primary;
    color: $accent;
  }

  &.inverted {
    background-color: $accent;
    color: $primary;

    &:hover, &:focus {
      background-color: $accent;
      color: $black;
      text-decoration: none;
      outline: none;
    }
    
    &:active {
      background-color: $accent;
      color: $primary;
    } 
  }

  &.medium {
    height: 65px;
    font-size: 40px;
    max-width: 300px;
  }
  &.small {
    height: 50px;
    font-size: 25px;
    max-width: 200px;
  }

} // end .button

